In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv("C:/Users/chait/Desktop/HR_Analytics_Personal/HR_Employee_Master.csv")

In [2]:
df.head()

,EmployeeID,FullName,Department,JobTitle,Email,Gender,HireDate,TerminationDate,Salary,ManagerID,PerformanceRating,Status
0,PNR-1001,Olivia Brown,Sales,Account Manager,employee.1001@pnrao.com,Non-binary,2024-05-10,NaN,177617.0,NaN,4.0,Active
1,PNR-1002,John Williams,Research & Development,Research Lead,employee.1002@pnrao.com,Female,2020-03-06,NaN,NaN,PNR-40746,5.0,Active
2,PNR-1003,Olivia Singh,Quality Control,QC Manager,employee.1003@pnrao.com,Female,2025-10-14,NaN,179304.0,NaN,NaN,Active
3,PNR-1004,Chris Williams,Research & Development,NaN,employee.1004@pnrao.com,NaN,2019-02-22,2024-02-07,94033.0,PNR-40015,5.0,Terminated
4,PNR-1004,Chris Williams,Research & Development,Research Lead,employee.1004@pnrao.com,Female,2019-02-22,2024-02-07,94033.0,PNR-40015,5.0,Terminated

In [3]:
df.tail()

,EmployeeID,FullName,Department,JobTitle,Email,Gender,HireDate,TerminationDate,Salary,ManagerID,PerformanceRating,Status
49995,PNR-50996,John Brown,Logistics,Logistics Coordinator,employee.50996@pnrao.com,NaN,2020-07-26,NaN,77151.0,PNR-12375,2.0,Active
49996,PNR-50997,Chris Jones,Marketing,NaN,NaN,Non-binary,2022-02-16,,80824.0,PNR-47713,5.0,Active
49997,PNR-50998,Aditya Smith,Production,Production Worker,employee.50998@pnrao.com,Female,2021-05-11,NaN,55402.0,PNR-23574,2.0,Active
49998,PNR-50999,NaN,Production,Production Worker,employee.50999@pnrao.com,NaN,2020-06-16,NaN,55771.0,PNR-28147,NaN,Active
49999,PNR-51000,Saanvi Jones,Finance,Financial Analyst,employee.51000@pnrao.com,Female,2020-09-08,NaN,55779.0,PNR-16945,5.0,NaN

In [4]:
df.describe()

              Salary  PerformanceRating
count   45725.000000       45817.000000
mean    91121.547928           3.510182
std     36303.586655           1.113687
min     55000.000000           2.000000
25%     65506.000000           3.000000
50%     75936.000000           4.000000
75%    120658.000000           5.000000
max    180000.000000           5.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         44549 non-null  object
 1   FullName           44675 non-null  object
 2   Department         44529 non-null  object
 3   JobTitle           44674 non-null  object
 4   Email              44718 non-null  object
 5   Gender             44572 non-null  object
 6   HireDate           44589 non-null  object
 7   TerminationDate    11421 non-null  object
 8   Salary             45725 non-null  float64
 9   ManagerID          35159 non-null  object
 10  PerformanceRating  45817 non-null  float64
 11  Status             44626 non-null  object
dtypes: float64(2), object(10)
memory usage: 4.6+ MB

In [6]:
df.shape

(50000, 12)

In [7]:
df.isnull().sum()

EmployeeID            5451
FullName              5325
Department            5471
JobTitle              5326
Email                 5282
Gender                5428
HireDate              5411
TerminationDate      38579
Salary                4275
ManagerID            14841
PerformanceRating     4183
Status                5374
dtype: int64

In [8]:
import uuid

df.loc[df['EmployeeID'].isna(), 'EmployeeID'] = [
    uuid.uuid4().hex for _ in range(df['EmployeeID'].isna().sum())
]

In [9]:
df.isnull().sum()

EmployeeID               0
FullName              5325
Department            5471
JobTitle              5326
Email                 5282
Gender                5428
HireDate              5411
TerminationDate      38579
Salary                4275
ManagerID            14841
PerformanceRating     4183
Status                5374
dtype: int64

In [10]:
df['FullName'] = df['FullName'].fillna('Unknown')

In [11]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department            5471
JobTitle              5326
Email                 5282
Gender                5428
HireDate              5411
TerminationDate      38579
Salary                4275
ManagerID            14841
PerformanceRating     4183
Status                5374
dtype: int64

In [12]:
df['Department'] = df['Department'].fillna('Unknown')

In [13]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle              5326
Email                 5282
Gender                5428
HireDate              5411
TerminationDate      38579
Salary                4275
ManagerID            14841
PerformanceRating     4183
Status                5374
dtype: int64

In [14]:
df['JobTitle'] = df['JobTitle'].fillna('Unknown')

In [15]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle                 0
Email                 5282
Gender                5428
HireDate              5411
TerminationDate      38579
Salary                4275
ManagerID            14841
PerformanceRating     4183
Status                5374
dtype: int64

In [16]:
df['Email'] = df['Email'].fillna('Unknown')

In [17]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle                 0
Email                    0
Gender                5428
HireDate              5411
TerminationDate      38579
Salary                4275
ManagerID            14841
PerformanceRating     4183
Status                5374
dtype: int64

In [18]:
df['Gender'] = df['Gender'].fillna('Unknown')

In [19]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle                 0
Email                    0
Gender                   0
HireDate              5411
TerminationDate      38579
Salary                4275
ManagerID            14841
PerformanceRating     4183
Status                5374
dtype: int64

In [20]:
df['HireDate'] = df['HireDate'].fillna('Unknown')

In [21]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle                 0
Email                    0
Gender                   0
HireDate                 0
TerminationDate      38579
Salary                4275
ManagerID            14841
PerformanceRating     4183
Status                5374
dtype: int64

In [22]:
df['TerminationDate'] = df['TerminationDate'].fillna('Unknown')

In [23]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle                 0
Email                    0
Gender                   0
HireDate                 0
TerminationDate          0
Salary                4275
ManagerID            14841
PerformanceRating     4183
Status                5374
dtype: int64

In [24]:
df['Salary'] = df['Salary'].fillna('Unknown')

In [25]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle                 0
Email                    0
Gender                   0
HireDate                 0
TerminationDate          0
Salary                   0
ManagerID            14841
PerformanceRating     4183
Status                5374
dtype: int64

In [26]:
df['PerformanceRating'] = df['PerformanceRating'].fillna('Unknown')

In [27]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle                 0
Email                    0
Gender                   0
HireDate                 0
TerminationDate          0
Salary                   0
ManagerID            14841
PerformanceRating        0
Status                5374
dtype: int64

In [28]:
df['Status'] = df['Status'].fillna('Unknown')

In [29]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle                 0
Email                    0
Gender                   0
HireDate                 0
TerminationDate          0
Salary                   0
ManagerID            14841
PerformanceRating        0
Status                   0
dtype: int64

In [30]:
df.duplicated().sum()

302

In [31]:
df = df.drop_duplicates()

In [32]:
df.duplicated().sum()

0

In [33]:
df.dtypes

EmployeeID           object
FullName             object
Department           object
JobTitle             object
Email                object
Gender               object
HireDate             object
TerminationDate      object
Salary               object
ManagerID            object
PerformanceRating    object
Status               object
dtype: object

In [34]:
df.head()

,EmployeeID,FullName,Department,JobTitle,Email,Gender,HireDate,TerminationDate,Salary,ManagerID,PerformanceRating,Status
0,PNR-1001,Olivia Brown,Sales,Account Manager,employee.1001@pnrao.com,Non-binary,2024-05-10,Unknown,177617.0,NaN,4.0,Active
1,PNR-1002,John Williams,Research & Development,Research Lead,employee.1002@pnrao.com,Female,2020-03-06,Unknown,Unknown,PNR-40746,5.0,Active
2,PNR-1003,Olivia Singh,Quality Control,QC Manager,employee.1003@pnrao.com,Female,2025-10-14,Unknown,179304.0,NaN,Unknown,Active
3,PNR-1004,Chris Williams,Research & Development,Unknown,employee.1004@pnrao.com,Unknown,2019-02-22,2024-02-07,94033.0,PNR-40015,5.0,Terminated
4,PNR-1004,Chris Williams,Research & Development,Research Lead,employee.1004@pnrao.com,Female,2019-02-22,2024-02-07,94033.0,PNR-40015,5.0,Terminated

In [35]:
df['EmployeeID'] = df['EmployeeID'].astype('string')

In [36]:
df.dtypes

EmployeeID           string[python]
FullName                     object
Department                   object
JobTitle                     object
Email                        object
Gender                       object
HireDate                     object
TerminationDate              object
Salary                       object
ManagerID                    object
PerformanceRating            object
Status                       object
dtype: object

In [37]:
df['FullName'] = df['FullName'].astype('string')

In [38]:
df['Department'] = df['Department'].astype('string')

In [39]:
df['JobTitle'] = df['JobTitle'].astype('string')

In [40]:
df['Email'] = df['Email'].astype('string')

In [41]:
df['Gender'] = df['Gender'].astype('category')

In [42]:
df['HireDate'] = pd.to_datetime(df['HireDate'], errors='coerce')

In [43]:
df['TerminationDate'] = pd.to_datetime(df['TerminationDate'], errors='coerce')

C:\Users\chait\AppData\Local\Temp\ipykernel_1860\2596958650.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['TerminationDate'] = pd.to_datetime(df['TerminationDate'], errors='coerce')

In [44]:
df['TerminationDate'] = (
    pd.to_datetime(df['TerminationDate'], dayfirst=True, errors='coerce')
)

In [45]:
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

In [46]:
df['ManagerID'] = df['ManagerID'].astype('string')

In [47]:
df['PerformanceRating'] = pd.to_numeric(df['PerformanceRating'], errors='coerce')

In [48]:
df['Status'] = df['Status'].astype('category')

In [49]:
df.dtypes

EmployeeID           string[python]
FullName             string[python]
Department           string[python]
JobTitle             string[python]
Email                string[python]
Gender                     category
HireDate             datetime64[ns]
TerminationDate      datetime64[ns]
Salary                      float64
ManagerID            string[python]
PerformanceRating           float64
Status                     category
dtype: object

In [50]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle                 0
Email                    0
Gender                   0
HireDate             10985
TerminationDate      43034
Salary                4275
ManagerID            14766
PerformanceRating     4183
Status                   0
dtype: int64

In [51]:
# Already handled if you used errors='coerce'
df['HireDate'] = pd.to_datetime(df['HireDate'], errors='coerce')

In [52]:
df['HireDate'].isnull().sum()

10985

In [53]:
df['TerminationDate'] = pd.to_datetime(df['TerminationDate'], errors='coerce')

In [54]:
df['TerminationDate'].isnull().sum()

43034

In [55]:
df.loc[df['Salary'].isna(), 'Salary'].unique()

array([nan])

In [56]:
df['Salary'] = df['Salary'].fillna(df['Salary'].median())

In [57]:
df['Salary'].isnull().sum()

0

In [58]:
df.loc[df['PerformanceRating'].isna(), 'PerformanceRating'].unique()

array([nan])

In [59]:
df['PerformanceRating'] = df['PerformanceRating'].fillna(df['PerformanceRating'].median())

In [60]:
df['PerformanceRating'].isnull().sum()

0

In [61]:
df.isnull().sum()

EmployeeID               0
FullName                 0
Department               0
JobTitle                 0
Email                    0
Gender                   0
HireDate             10985
TerminationDate      43034
Salary                   0
ManagerID            14766
PerformanceRating        0
Status                   0
dtype: int64

In [62]:
df = df.where(pd.notnull(df), None)

In [72]:
df.to_csv("cleaned_HR_Employee_data.csv", index=False)

In [73]:
df.duplicated().any()

False

In [74]:
df.duplicated().sum()

0

In [75]:
before = df.shape[0]
df.drop_duplicates(inplace=True)
after = df.shape[0]

In [76]:
print(f"Removed {before - after} duplicate rows")

Removed 0 duplicate rows

In [77]:
df.duplicated().sum()

0

In [78]:
df.shape

(49637, 12)

In [79]:
df.head()

,EmployeeID,FullName,Department,JobTitle,Email,Gender,HireDate,TerminationDate,Salary,ManagerID,PerformanceRating,Status
0,PNR-1001,Olivia Brown,Sales,Account Manager,employee.1001@pnrao.com,Non-binary,2024-05-10,NaT,177617.0,<NA>,4.0,Active
1,PNR-1002,John Williams,Research & Development,Research Lead,employee.1002@pnrao.com,Female,2020-03-06,NaT,75932.0,PNR-40746,5.0,Active
2,PNR-1003,Olivia Singh,Quality Control,QC Manager,employee.1003@pnrao.com,Female,2025-10-14,NaT,179304.0,<NA>,4.0,Active
3,PNR-1004,Chris Williams,Research & Development,Unknown,employee.1004@pnrao.com,Unknown,2019-02-22,2024-02-07,94033.0,PNR-40015,5.0,Terminated
4,PNR-1004,Chris Williams,Research & Development,Research Lead,employee.1004@pnrao.com,Female,2019-02-22,2024-02-07,94033.0,PNR-40015,5.0,Terminated